.card-job-done {
    display: flex;
    width: 90%;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(black, $alpha: 0.4);
    background-color: rgba($color: #1b2d4221, $alpha: 0.8);
    margin-bottom: 20px;
    margin-left: 60px;
}

.img-done-container {
    height: 170px;
    width: 180px;
}

.job-done-info {
    padding-left: 25px;
    width: 70%;
}

.img-job-done {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    border: white 2px solid;
}

.button {
    height: 30%;
    margin: auto;
    padding-top: 10px;
    padding-left: 10px;
}

.inline-buttons {
    display: flex;
    padding: 10px;
    margin: 5px;
}

.job-done-actions {
    text-align: center;
}
  
