.background-container {
  background-color: rgba($color: #1b2d4221, $alpha: 0.75);
  color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(black, $alpha: 0.7);
  width: 75%;
  height: 75vh;
  margin: auto;
  margin-bottom: 20px;
}

.messages {
  color: white;
  font-family: "Quicksand", sans-serif, "sans-serif";
  font-size: 1rem;
}

.reciever .chat-color {
  background-color : #4692F0;
  border-radius : 5px;
  padding: 10px;
  margin: 10px;
}

.reciever .icons{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row-reverse;
}

.icons{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.chat-color {
  background-color :#36A18B

}

.avatar-chat {
  padding: 10px;
  margin: 10px;

}

.btn {
  border-radius: 5px;

}

.form-control {
  size : 50px;
}

.text-field {
  min-width: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}
.input-form {
    align-content: space-around;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-end;
}




