.background-container {
  background-color: rgba($color: #1b2d4221, $alpha: 0.75);
  color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(black, $alpha: 0.7);
  width: 75%;
  height: 75vh;
  margin: auto;
  margin-bottom: 20px;

}

.messages {
  color: white;
  font-family: "Quicksand", sans-serif, "sans-serif";
  font-size: 1rem;
}
