// Import page-specific CSS files here.
@import "home";

.big-container {
  display: flex;
}

.background-container {
  background-color: rgba($color: #1b2d4221, $alpha: 0.75);
  color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(black, $alpha: 0.7);
  width: 75%;
  height: 75vh;
  margin: auto;
  margin-bottom: 20px;
}

.title {
  width: 100%;
  border-bottom: 1px white solid;
  margin-bottom: 20px;
  margin-top: 15px;
}

.content-container {
  display: flex;
  height: 90%;
  width: 100%;
}

.background-container {
  overflow: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.section {
  scroll-snap-align: start;
  width: 100%;
  height: 80vh;
  padding: 15px;
  padding-top: 20px;
}

.card-job {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 3px;
  transition: transform .2s;
  border: white 1px solid;
}

.card-job:hover {
  color: black!important;
  transform: scale(1.05)!important;
}

.card-job > .card-photo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 175px;
  width: 100%;
  background-size: cover;
  background-position: center;
  padding: 15px
}

.card-photo h2 {
  color: white;
}

.card-job h2 {
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: bold;
  text-shadow: black 1px 1px;
  margin: 0;
}


.card-job p {
  font-size: 15px;
  opacity: .7;
  margin: 0;
  color: black;
}


.card-job .card-job-infos {
  padding: 10px;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-job-infos .card-job-user {
  position: absolute;
  right: 10px;
  top: -20px;
  width: 40px;
  height: 40px;
}

.no-job {
  margin: auto;
}

