.notifications-container {
    background-color: rgba($color: #1b2d4221, $alpha: 0.75);
    color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(black, $alpha: 0.7);
    width: 35%;
    height: 80vh;
    margin: auto;
    overflow: scroll;
}

.chats-container {
    background-color: rgba($color: #1b2d4221, $alpha: 0.75);
    color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(black, $alpha: 0.7);
    width: 35%;
    height: 80vh;
    margin: auto;
    overflow: scroll;
}

.notification {
    width: 90%;
    padding: 15px;
    margin: auto;
    background-color: white;
    color: black;
    border-radius: 5px;
    margin: 5px;
}


.notification a {
    color: black;
    font-size: larger;
    font-weight: bolder;
}

.notification:hover {
    background-color: rgba($color: white, $alpha: 0.8);
}

.chats:hover {
    background-color: rgba($color: white, $alpha: 0.8);
}
