.show-container {
    background-color: rgba($color: #1b2d4221, $alpha: 0.75);
    color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(black, $alpha: 0.7);
    width: 80%;
    height: 80vh;
    margin: auto;
    overflow-y: scroll;
}

.show-container::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: rgba($color: #0f1a2521, $alpha: 1.0);
  }

  .show-container::-webkit-scrollbar-thumb {
      background: white;
  }

.img-container {
    height: 170px;
    width: 200px;
}

.img-job {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    border: white 2px solid;
}

.job-details {
    display: inline-flex;
    padding: 5px;
    width: 100%;
    position: relative;
}

.apply {
    position: absolute;
    top: 5px;
    right: 10px;
}

.employer-container {
    display: inline-flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
}

.avatar-container {
    height:80px;
    justify-content: flex-end;
}

.employer-info {
    margin-left: -250px;
    width: 70%;
}

.applicant-info {
    margin-left: 20px;
}

.avatar-bordered {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border: white 1px solid;
  }

.reviewer {
    display: flex;
    margin-bottom: 20px;
}

.reviewer-name {
    width: 20%;
    margin-left: 20px;
}

.review {
    margin-left: 10px;
}

.icons {
    justify-content: space-between;

}

.icons-name {
    justify-content: center;
    padding-top: 15px;

}
.employer-categories {
    padding-top: 25px;
    margin-left: 25px;
}


.rounded-circle {
  height: 100px;
  width: 100px;
}


.main-btn {
  margin:50px;
  padding: 50px;
  color: $orange;

}
.scroll-reviews {
    height: 60%;
    overflow-y: scroll;
    scrollbar-color: rgba($color: #1b2d4221, $alpha: 1.0);
}

::-webkit-scrollbar-track {
    background-color: rgba($color: #0f1a2521, $alpha: 1.0);
}

