

<div class="chats-container">

  <h2 class="title">#<%= "All your active chats" %></h2>


  <div class="main-chat col-12 ">
      <% @chatrooms.each do |chat|  %>
        <div class="icons-notifications ">
          <div class="avatar-chat d-flex ">
            <span><%= chat.sender.nickname %></span>
            <img src= <%= choose_avatar(chat.sender) %> class="card-job-user avatar-bordered" >
          </div>
        </div>

          <div class= "btn-orange">
          <%= link_to "Start the Chat ", chatroom_path(chat) %>
          </div>
      <% end %>
  </div>
</div>
