<div class="footer">
    <div class="row">
        <div class="motto col-12">
            <h2>HEY!NEIGHBOUR</h2>
            <P>Find & offer small jobs in your neighbourhood!</P>
        </div>
    </div>
    <div class="row">
        <div class="footer-bottom">
            <div class="footer-social">
                <div>
                    <p>2021 - Hey!Neighbour</p>
                </div>
                <div class="footer-links">
                    <a href="#"><i class="fab fa-github"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
            <ul class="footer-actions">
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Site map</a></li>
            </ul>
        </div>
    </div>
</div>