<div class="footer">
    <div class="row">
        <div class="motto col-12">
            <h2>HEY!NEIGHBOUR</h2>
            <P>Find & offer small jobs in your neighbourhood!</P>
        </div>
    </div>
    <div class="row">
        <div class="footer-bottom">
            <div class="footer-social">
                <div class="footer-links">
                    <p class="pt-3 pr-3">2021 - Hey!Neighbour</p>
                    <a href="#"><i class="fab fa-github"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
            <div class="footer-actions pt-3">
                <a href="#">About us | </a>
                <a href="#">Contact us | </a>
                <a href="#">Site map | </a>
            </div>
        </div>
    </div>
</div>