<% unless current_page?(root_path) %>
  <%= render 'shared/nav_item', path: jobs_path, text: 'Look for a job' %>

  <%= render 'shared/nav_item', path: new_job_path, text: 'Offer a job' %>
<% end %>

<li class="nav-item dropdown">
  <img src= <%= choose_avatar(current_user) %> class="card-job-user avatar-bordered" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <%= render 'shared/avatar_dropdown' %>
</li>
