<div class="home-container">
    <%= link_to jobs_path, class:'left' do %>
            <h1>Look for a job</h1>
    <% end %>

    <%= link_to  new_job_path, class:'right' do %>
            <h1>Offer a job</h1>
    <% end %>
</div>