.btn-orange {
    padding: 8px 24px;
    background-color: $orange;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    margin: auto;
    border-radius: 4px;
    text-shadow: rgb(53, 53, 53) 1px 1px;
}

.btn-orange:hover, .btn-orange:hover a {
    border-radius: 10px;
    color: black;
    text-shadow: none;
}
