.footer {
    background: white;
    display: flex;
    color: rgba(0,0,0,0.3);
    height: 150px;
    position: absolute;
    bottom: -150px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
  }

.footer .footer-content {

}


