.form-container {
    position: relative;
    margin: auto;
    width: 45%;
    padding: 25px;
    background-color: rgba($color: #1b2d4221, $alpha: 0.7);
    color: white;
    margin-top: 50px;
    border-radius: 5px;
}

.form-inputs {
    font-size: 25px;
}

.input {
    background-color: red;
}

.link {
    position: absolute;
    bottom: 5px;
    right: 15px;
}

.my-class {
    position: absolute;
    transform: scale(0);
}

.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 0.7rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: #ECEAFF;
  color: #1b2939;
  border: 1px solid #ECEAFF;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.tag-selector:checked + label {
  background-color: $orange;
  color: white;

}

.form-inline {
  display: inline-flex;
  justify-content: space-between;
  width: 70%;
  margin-left: 70px;
  padding: 10px;
}

.inline-element {
  width: 20%;
}

.form-element {
  min-width: 200px;
}