.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#map {
  width: 60%;
  box-shadow: 2px 2px 3px black;
  height: 100%;
}

.map-container {
  height: 400px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  margin-bottom: 25px;
}