.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  font-size: 45px;
  font-family: 'Bebas Neue', cursive;
  color: #ffb100;
  z-index: 55555;
}

h2 {
  font-size: 45px;
  font-family: 'Bebas Neue', cursive;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #ffb100;
}