.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  font-size: 45px;
  font-family: 'Bebas Neue', cursive;
  color: $orange;
  z-index: 55555;
}

#logo {
  font-size: 45px;
  color: white;
}

#logo:hover {
  color: $orange;
  transition: 0.3s ease-in-out;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #ffb100;
}

.nav-notifications {
  display: flex;
  align-items: center;
}

.count {
  background-color: red;
  border-radius: 50%;
  padding: 0;
  height: 31px;
  color: white;
  width: 31px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 6px;
}

.count-navbar {
  right: -2px;
  bottom: 11px;
  font-size: 18px;
}

.noti-container {
  height: 83px;
}